.progressbar-container {
  max-width: 600px; /* Устанавливает максимальную ширину */
  width: 100%;      /* Чтобы был адаптивным */
  margin: 1rem auto; /* Центрирует прогресс бар с отступами сверху/снизу */
  border-radius: 0.75rem; /* Скругления в духе дизайн-гайдов */
  overflow: hidden; /* Прогресс должен аккуратно ограничиваться этим контейнером */
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1); /* Легкая тень для глубины */
}
.correct {
    background-color: green;
}